<html>


<head>

    <title>TESI ML_INFN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


    <link rel="stylesheet" href="http://localhost:9090/css/main.css">

    <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link href="http://localhost:9090/css/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <script src="http://localhost:9090/js/jsoneditor.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"   integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>

    <script type="text/javascript">
        $(function(){
            $("#json_submit").on("click", function () {
                var json = editor.get();

                $('#form_json').submit(function(){ //listen for submit event
                    $('<input />').attr('type', 'hidden')
                            .attr('name', 'json')
                            .attr('value', JSON.stringify(json, null, 2))
                            .appendTo('#form_json');

                    return true;
                });

                $.ajax({
                    url: '/prova',
                    type: 'GET',
                    data: '', // or $('#myform').serializeArray()
                    success: function(data) {
                        alert(JSON.parse(data).stringify);
                    },
                    error: function(e){
                        alert(JSON.parse(e))
                    }

                });

            });
        });
    </script>


    <script>
        function start_long_task() {
            // add task status elements
            div = $('<div class="progress progress-striped active"> <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>');
            $('#progress').append(div);

            // create a progress bar

            var nanobar = {}

            // send ajax POST request to start background job
            $.ajax({
                url: '/getAppInformation',
                type: 'GET',
                data: '',
                success: function (data, status, request) {
                    update_progress("/getAppInformation", nanobar, div[0],data);
                },
                error: function () {
                    alert('Unexpected error');
                }
            });
        }
        function update_progress(status_url, nanobar, status_div, data) {
            // send GET request to status URL
           var data = $.ajax({
                url: '/getAppInformation',
                type: 'GET',
                data: '',
                success: function (data, status, request) {
                    percent = 50;
//                    $('.progress-bar').css('width', percent+'%').attr('aria-valuenow', percent);
                    $(status_div.childNodes[1]).text('doing task ...');


                    if (data == 'finish') {
                        $('#status').text("FINISH!");
                        $(status_div.childNodes[1]).text('finish!');
                    }else if (data.indexOf('error') > -1){
                        $('#status').text(data);
                        $(status_div.childNodes[1]).text('error!');
                    }
                    else {
                        $('#status').text(data);
                        // rerun in one second
                        setTimeout(function () {
                            update_progress(status_url, nanobar, status_div);
                        }, 500);
                    }
                },
                error: function () {
                    return error;
                }
            });
        }
    </script>

    <script type="text/javascript">
        function changeForm(sel){

            if(sel.value == 'regression' || sel.value == 'classification') {
                $('#type_reg_class').show();
                $('#type_clustering').hide();

            } else if(sel.value == 'clustering'){
                $('#type_reg_class').hide();
                $('#type_clustering').show();
            }else{
                $('#type_reg_class').hide();
                $('#type_clustering').hide();
            }

        }
        $(document).on('change', '.btn-file :file', function() {
            var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready( function() {
            $('.btn-file :file').on('fileselect', function(event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                if( input.length ) {
                    input.val(log);
                } else {
                    if( log ) alert(log);
                }

            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#dataset').select2({
                tags: true

            });
        });
    </script>


</head>
<body>

<div id="wrap">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">MLSystem</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="/history">History</a></li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Models <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/models/create">Create Model</a></li>
                            <li><a href="/models/status">Model Status</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Prediction <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/prediction/create">Create Prediction</a></li>
                            <li><a href="/prediction/status">Prediction Status</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container" style="margin-top: 15px;">

        #if($response && $response == 200)
            <div id="content" style="margin-top: 50px;">
                <div class="alert alert-success">
                    <strong>Task submitted!</strong>
                </div>
                <div id="status"></div>
                <div id="progress"></div>
                <script>
                    jQuery(document).ready(function ($) {
                        start_long_task();
                    });
                </script>
            </div>
        #end


        #if($action == 'create')
            <div id="content" class="content">
                <h2>CreateModel</h2>
                <form class="form-horizontal" action="/create_model">
                    <div class="form-group">
                        <label for="application_name" class="col-sm-2 control-label">Application Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="application_name" name="application_name" placeholder="application name">
                        </div>
                    </div>

                    ##DATASET
                    <div class="form-group">
                        <label for="model_data_set_path" class="col-sm-2 control-label">Data Set</label>
                        <div class="col-sm-10 selectContainer">
                            <select class="form-control" name="data_set" id="dataset">
                                #foreach ($data_set in $data_sets)
                                    <option value="$data_set">$data_set</option>
                                #end


                            </select>
                        </div>
                    </div>
                    ##DATASET FILECHOOSER
##                    <div class="form-group">
##                        <label for="model_data_set_path" class="col-sm-2 control-label">Data Set</label>
##                        <div class="col-sm-10 selectContainer">
##                        <div class="input-group">
##                            <span class="input-group-btn">
##                                <span class="btn btn-primary btn-file">
##                                    Browse&hellip; <input type="file" multiple>
##                                </span>
##                            </span>
##                            <input type="text" class="form-control" readonly name="file_upload">
##                        </div>
##                            </div>
##                    </div>



                ##FEATURES
                    <div class="form-group">
                        <label for="features" class="col-sm-2 control-label">Features</label>
                        <div class="col-sm-10">
                            <textarea type="textArea" class="form-control" id="features" name="features" placeholder="">BTF/QUATB101_o,BTF/QUATB102_o,BTF/QUATB001_o,BTF/QUATB002_o,BTF/QUATB003_o,BTF/QUATB004_o,BTF/CVVTB001_o,BTF/CHHTB002_o,BTF/CVVTB002_o,BTF/DHSTB001_o,BTF/DHSTB002_o</textarea>
                        </div>
                    </div>

                ##TYPE OF PROBLEM
                    <div class="form-group">
                        <label for="type_of_problem" class="col-sm-2 control-label">Model Type</label>
                        <div class="col-sm-10 selectContainer">
                            <select class="form-control" name="type_of_problem" onchange="changeForm(this)">
                                <option value=""></option>
                                <option value="regression">Regression</option>
                                <option value="classification">Classification</option>
                                <option value="clustering">Clustering</option>
                            </select>
                        </div>
                    </div>

                ##TAG
                    <div class="form-group" id="type_reg_class" style="display: none">
                        <label for="tag" class="col-sm-2 control-label">Tag</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="tag" name="tag" placeholder="tag">
                        </div>
                    </div>

                ##TAG_CLUSTERING
                    <div class="form-group" id="type_clustering" style="display: none">
                        <label for="tag" class="col-sm-2 control-label">Number of Cluster</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="tag" name="tag_clustering" placeholder="2">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Crea Modello</button>
                        </div>
                    </div>
                </form>
            </div>
        #elseif($action == 'status')
            <div id="content" class="content">
                <h1>Stato Modelli
                    <button type="button" class="btn btn-default" aria-label="Left Align" onClick="window.location.reload();">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </h1>
             <table class="table table-striped table-condensed">
                 <thead>
                    <tr><th>Model Name</th><th>Model Type</th><th>Algorithm</th><th>Model Status</th><th>Row Number</th><th>Date</th><th>Model Summary</th></tr>
                 </thead>
                 <tbody>
                        #foreach ($model in $models)
                            <tr>
                                <td>$model.modelDescription.modelName</td>
                                <td>$model.modelDescription.modelType</td>
                                <td>$model.modelDescription.algorithm</td>
                                <td>$model.modelDescription.status</td>
                                <td>$model.modelDescription.dataSetNumberOfRows</td>
                                <td>$model.last_modified_date</td>
                                <td>
                                    #foreach($key in $model.modelDescription.modelSummary.keySet())
                                        <div><b>$key</b> : $model.modelDescription.modelSummary.get($key)</div>
                                    #end
                                </td>
                            </tr>
                        #end
                    </tbody>
             </table>
            </div>
        #end

        #if($action != 'status')
            <div id="content" class="content">
                <h2>Quick Start</h2>
                <form  id="form_json" class="form-horizontal" action="/create_model">

                    <div class="form-group">
                        <div id="jsoneditor" style="height: 400px;" name="pippo"></div>
                        <script>
                            var container = document.getElementById('jsoneditor');

                            var options = {
                                mode: 'code',
                                modes: ['code', 'form', 'text', 'tree', 'view'], // allowed modes
                                onError: function (err) {
                                    alert(err.toString());
                                },
                                onModeChange: function (newMode, oldMode) {
                                    console.log('Mode switched from', oldMode, 'to', newMode);
                                },
                                onChange: function(){
                                    var json = editor.get();
                                    $("#form_json").val("JSON.stringify(json, null, 2)")


                                }

                            };
                            var json = {}
                            if( typeof $json != "undefined"){
                                json = $json
                            }else {
                                json = [{
                                    "application_name": "linear_regression_streaming",
                                    "task": "prediction_with_model_offline",
                                    "prediction": {
                                        "type": "streaming",
                                        "model_type": "regression",
                                        "streaming_data_ip": "localhost",
                                        "streaming_data_port": 10000,
                                        "streaming_data_duration": 10,
                                        "model_data_set_path": "hdfs://192.168.143.91:9000/user/Lorenzo/Models/linear_regression_streaming_model"
                                    }
                                },

                                    // PREDIZIONE DA MODELLO ONLINE
                                    {
                                        "application_name": "linear_regression_streaming_online_model",
                                        "task": "prediction_with_model_online",
                                        "ml_model": {
                                            "type": "online",
                                            "type_of_problem": "regression",
                                            "streaming_training_data_ip": "localhost",
                                            "streaming_training_data_port": 10000,
                                            "streaming_training_data_duration": 10,
                                            "model_data_set_path": "",
                                            "label": "tag",
                                            "features": [
                                                "current_BTF/CHHTB002_o",
                                                "current_BTF/CVVTB001_o",
                                                "current_BTF/CVVTB002_o",
                                                "current_BTF/DHSTB001_o",
                                                "current_BTF/DHSTB002_o",
                                                "current_BTF/QUATB001_o",
                                                "current_BTF/QUATB002_o",
                                                "current_BTF/QUATB003_o",
                                                "current_BTF/QUATB004_o",
                                                "current_BTF/QUATB101_o",
                                                "current_BTF/QUATB102_o"
                                            ]
                                        },
                                        "prediction": {
                                            "type": "streaming",
                                            "model_type": "regression",
                                            "model_data_set_path": "",
                                            "streaming_data_ip": "localhost",
                                            "streaming_data_port": 10000,
                                            "streaming_data_duration": 10
                                        }
                                    }

                                ]
                            }


                            var editor = new JSONEditor(container, options, json);
                        </script>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" id="json_submit" class="btn btn-default">Sottometti Task</button>
                        </div>
                    </div>


                </form>

            </div>
        #end
    </div>
    </div>


    <div id="footer">
        <div class="container">
            <p class="text-muted credit">Developed by <a href="https://www.linkedin.com/in/giovanninapoleoni?trk=hp-identity-name">Lorenzo Napoleoni</a> at <a href="http://home.infn.it/it/">INFN</a>.</p>
        </div>
    </div>

</div>
</body>


</html>