<html>


<head>

    <title>TESI ML_INFN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


    <link rel="stylesheet" href="http://localhost:9090/css/main.css">

    <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link href="http://localhost:9090/css/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <script src="http://localhost:9090/js/jsoneditor.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"   integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="http://localhost:9090/css/jquery.treegrid.css">

    <script type="text/javascript" src="http://localhost:9090/js/jquery.treegrid.min.js"></script>
    <script type="text/javascript" src="http://localhost:9090/js/jquery.treegrid.bootstrap3.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>


    <script type="text/javascript">
        function changeForm(sel){

            if(sel.value == 'prediction_with_model_offline') {
                $('#model_form_offline_prediction').show();
                $('#model_form_online_prediction').hide();

            } else if (sel.value == 'prediction_with_model_online'){
                $('#model_form_offline_prediction').hide();
                $('#model_form_online_prediction').show();
            }

        }
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#application_name').select2({
                tags: true

            });
        });
    </script>


    <script>
        function start_long_task() {
            // add task status elements
            div = $('<div class="progress progress-striped active"> <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>');
            $('#progress').append(div);

            // create a progress bar

            var nanobar = {}

            // send ajax POST request to start background job
            $.ajax({
                url: '/getAppInformation',
                type: 'GET',
                data: '',
                success: function (data, status, request) {
                    update_progress("/getAppInformation", nanobar, div[0],data);
                },
                error: function () {
                    alert('Unexpected error');
                }
            });
        }
        function update_progress(status_url, nanobar, status_div, data) {
            // send GET request to status URL
            var data = $.ajax({
                url: '/getAppInformation',
                type: 'GET',
                data: '',
                success: function (data, status, request) {
                    percent = 50;
//                    $('.progress-bar').css('width', percent+'%').attr('aria-valuenow', percent);
                    $(status_div.childNodes[1]).text('doing task ...');


                    if (data == 'finish') {
                        $('#status').text("FINISH!");
                        $(status_div.childNodes[1]).text('finish!');
                    }else if (data.indexOf('error') > -1){
                        $('#status').text(data);
                        $(status_div.childNodes[1]).text('error!');
                    }else if (data.indexOf('kill') > -1){
                        $('#status').text('killed prediction');
                        $(status_div.childNodes[1]).text('finish!');
                    }
                    else {
                        $('#status').text(data);
                        // rerun in one second
                        setTimeout(function () {
                            update_progress(status_url, nanobar, status_div);
                        }, 500);
                    }
                },
                error: function () {
                    return error;
                }
            });
        }
    </script>

    <script>
        $(document).ready(function(){
            $('input[type=text]').tooltip({
                placement: "left",
                trigger: "focus"
            });
            $('select[name=source_type]').tooltip({
                placement: "left",
                trigger: "focus"
            });
        });
    </script>

    <script type="text/javascript">
        $(function(){
            $("#json_submit").on("click", function () {
                var json = editor.get();

                $('#form_json').submit(function(){ //listen for submit event
                    $('<input />').attr('type', 'hidden')
                            .attr('name', 'json')
                            .attr('value', JSON.stringify(json, null, 2))
                            .appendTo('#form_json');

                    return true;
                });



            });


            $("#stop_prediction").on("click", function () {
                $.ajax({
                    url: '/killPrediction',
                    type: 'GET',
                    data: '',
                    success: function (data, status, request) {
                        update_progress("/getAppInformation", nanobar, div[0],data);
                    },
                    error: function () {
                        alert('Unexpected error');
                    }
                });
            });
        });
    </script>

</head>
<body>

<div id="wrap">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">MLSystem</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="/history">History</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Models <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/models/create">Create Model</a></li>
                            <li><a href="/models/status">Model Status</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Prediction <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/prediction/create">Create Prediction</a></li>
                            <li><a href="/prediction/status">Prediction Status</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container" style="margin-top: 10px;">
        #if($response && $response == 200)
        <div id="content" style="margin-top: 50px;">
            <div class="alert alert-success">
                <strong>Prediction Task submitted!</strong>
                <strong>Show prediction on <a href="http://192.168.143.92:3000/dashboard/db/ml-dashboard" target="_blank">Grafana</a></strong>
            </div>
            <div id="status"></div>
            <div id="progress"></div>
            <div><button id="stop_prediction" type="button" class="btn btn-danger">Stop prediction</button>
            </div>
            <script>
                jQuery(document).ready(function ($) {
                    start_long_task();
                });
            </script>
        </div>
        #end




        #if($action == 'create')
            <div id="content" class="content">
                <h2>Crea Nuova Predizione</h2>

                <form class="form-horizontal" action="/create_prediction">

                ##Application Name
                    <div class="form-group">
                        <label for="application_name" class="col-sm-2 control-label">Application Name</label>
                        <div class="col-sm-10 selectContainer">
                            <select class="form-control" id="application_name" name="application_name">
                                #foreach ($app in $applications)
                                    <option value="$app.application_name">$app.application_name</option>
                                #end
                            </select>
                        </div>
                    </div>


                ##TYPE OF PREDICITION
                    <div class="form-group">
                        <label for="task" class="col-sm-2 control-label">Task type</label>
                        <div class="col-sm-10 selectContainer">
                            <select class="form-control" name="task" onchange="changeForm(this)">
                                <option value=""></option>
                                <option value="prediction_with_model_offline">Prediction with offline model</option>
                                <option value="prediction_with_model_online">Predcition with online model</option>
                            </select>
                        </div>
                    </div>

                ## START FORM FOR OFFLINE PREDICTION
                    <div id="model_form_offline_prediction" style="display: none">
                    ##MODELS
                        <div class="form-group">
                            <label for="model" class="col-sm-2 control-label">Models</label>
                            <div class="col-sm-10 selectContainer">
                                <select class="form-control" name="model">
                                    <option value=""></option>
                                    #foreach ($model in $models)
                                        <option value="$model.modelDescription.modelName">$model.modelDescription.modelName</option>
                                    #end
                                </select>
                            </div>
                        </div>

                    ##STREAMING IP
                        <div class="form-group">
                            <label for="streaming_data_ip" class="col-sm-2 control-label">IP Streaming</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="streaming_data_ip" placeholder="IP Streaming" >
                            </div>
                        </div>

                    ##STREAMING  PORT
                        <div class="form-group">
                            <label for="streaming_data_port" class="col-sm-2 control-label">IP Streaming Port</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control"  name="streaming_data_port" placeholder="Streaming Port" value="10000">
                            </div>
                        </div>

                    ##STREAMING DURATION
                        <div class="form-group">
                            <label for="streaming_data_duration" class="col-sm-2 control-label">Streaming Duration</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control"  name="streaming_data_duration" placeholder="Streaming Duration" value="1">
                            </div>
                        </div>

                    ##SOURCE TYPE
                        <div class="form-group">
                            <label for="streaming_data_duration" class="col-sm-2 control-label">Source type</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="source_type" data-toggle="tooltip" title="Tipo di struttura del sorgente" type="text">
                                    <option value=""></option>
                                    <option value="json">json</option>
                                    <option value="csv">csv</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Crea Predizione</button>
                            </div>
                        </div>
                    </div>
                ## END FORM FOR OFFLINE PREDICTION

                ## START FORM FOR ONLINE PREDICTION
                    <div id="model_form_online_prediction" style="display: none">
                    ##STREAMING IP
                        <div class="form-group">
                            <label for="streaming_data_ip" class="col-sm-2 control-label">IP Streaming Data</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="streaming_data_ip_data" placeholder="IP Streaming">
                            </div>
                        </div>

                    ##STREAMING  PORT
                        <div class="form-group">
                            <label for="streaming_data_port" class="col-sm-2 control-label">IP Streaming Data Port</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control"  name="streaming_data_port_data" placeholder="Streaming Port" value="10000">
                            </div>
                        </div>

                    ##STREAMING DURATION
                        <div class="form-group">
                            <label for="streaming_data_duration" class="col-sm-2 control-label">Streaming Data Duration</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control"  name="streaming_data_duration_data" placeholder="Streaming Duration" value="1">
                            </div>
                        </div>

                    ##STREAMING IP TRAIN
                        <div class="form-group">
                            <label for="streaming_data_ip" class="col-sm-2 control-label">IP Streaming Train</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="streaming_data_ip_train" placeholder="IP Streaming">
                            </div>
                        </div>

                    ##STREAMING  PORT TRAIN
                        <div class="form-group">
                            <label for="streaming_data_port" class="col-sm-2 control-label">IP Streaming Train Port</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control"  name="streaming_data_port_train" placeholder="Streaming Port" value="10000">
                            </div>
                        </div>

                    ##STREAMING DURATION TRAIN
                        <div class="form-group">
                            <label for="streaming_data_duration" class="col-sm-2 control-label">Streaming Train Duration</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control"  name="streaming_data_duration_train" placeholder="Streaming Duration" value="1">
                            </div>
                        </div>

                    ##FEATURES
                        <div class="form-group">
                            <label for="features" class="col-sm-2 control-label">Features</label>
                            <div class="col-sm-10">
                                <textarea type="textArea" class="form-control" id="features" name="features" placeholder="">BTF/QUATB101_o,BTF/QUATB102_o,BTF/QUATB001_o,BTF/QUATB002_o,BTF/QUATB003_o,BTF/QUATB004_o,BTF/CVVTB001_o,BTF/CHHTB002_o,BTF/CVVTB002_o,BTF/DHSTB001_o,BTF/DHSTB002_o</textarea>
                            </div>
                        </div>

                    ##TYPE OF PROBLEM
                        <div class="form-group">
                            <label for="type_of_problem" class="col-sm-2 control-label">Model Type</label>
                            <div class="col-sm-10 selectContainer">
                                <select class="form-control" name="type_of_problem">
                                    <option value="linear_regression">Regression</option>
                                </select>
                            </div>
                        </div>

                    ##TAG
                        <div class="form-group">
                            <label for="tag" class="col-sm-2 control-label">Tag</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="tag" name="tag" placeholder="tag" data-toggle="tooltip" title="Colonna del dataset in cui ci sono le label" type="text">
                            </div>
                        </div>

                    ##SOURCE TYPE
                        <div class="form-group">
                            <label for="streaming_data_duration" class="col-sm-2 control-label">Source type</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="source_type_streaming" data-toggle="tooltip" title="Tipo di struttura del sorgente" type="text">
                                    <option value=""></option>
                                    <option value="json">json</option>
                                    <option value="csv">csv</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Crea Predizione</button>
                            </div>
                        </div>
                    </div>
                ## END FORM FOR ONLINE PREDICTION
                </form>

            </div>



        #elseif($action == 'status')
            <div id="content" class="content">
                <h1>Stato Modelli <button type="button" class="btn btn-default" aria-label="Left Align" onClick="window.location.reload();">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>
                </h1>



                <table class="table table-striped table-condensed">
                    <thead>
                    <tr><th>Application Name</th><th>Prediction Type</th><th>Prediction Status</th><th>Prediction Status</th></tr>
                    </thead>
                    <tbody>
                        #foreach ($app in $applications)
                        <tr>
                            <td>$app.application_name</td>
                            <td>$app.predictorDescription.type</td>
                            <td>$app.predictorDescription.status</td>
                            <td>http://192.168.143.92:3000</td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        #end
        <div id="content" class="content">
            <h2>Quick Start</h2>
            <form  id="form_json" class="form-horizontal" action="/create_prediction">

                <div class="form-group">
                    <div id="jsoneditor" style="height: 400px;" name="pippo"></div>
                    <script>
                        var container = document.getElementById('jsoneditor');

                        var options = {
                            mode: 'code',
                            modes: ['code', 'form', 'text', 'tree', 'view'], // allowed modes
                            onError: function (err) {
                                alert(err.toString());
                            },
                            onModeChange: function (newMode, oldMode) {
                                console.log('Mode switched from', oldMode, 'to', newMode);
                            },
                            onChange: function(){
                                var json = editor.get();
                                $("#form_json").val("JSON.stringify(json, null, 2)")


                            }

                        };
                        var json = {}
                        if( typeof $json != "undefined"){
                            json = $json
                        }else {
                            json = [{
                                "application_name": "linear_regression_streaming",
                                "task": "prediction_with_model_offline",
                                "prediction": {
                                    "type": "streaming",
                                    "model_type": "regression",
                                    "streaming_data_ip": "localhost",
                                    "streaming_data_port": 10000,
                                    "streaming_data_duration": 10,
                                    "model_data_set_path": "hdfs://192.168.143.91:9000/user/Lorenzo/Models/linear_regression_streaming_model"
                                }
                            },

                                // PREDIZIONE DA MODELLO ONLINE
                                {
                                    "application_name": "linear_regression_streaming_online_model",
                                    "task": "prediction_with_model_online",
                                    "ml_model": {
                                        "type": "online",
                                        "type_of_problem": "regression",
                                        "streaming_training_data_ip": "localhost",
                                        "streaming_training_data_port": 10000,
                                        "streaming_training_data_duration": 10,
                                        "model_data_set_path": "",
                                        "label": "tag",
                                        "features": [
                                            "current_BTF/CHHTB002_o",
                                            "current_BTF/CVVTB001_o",
                                            "current_BTF/CVVTB002_o",
                                            "current_BTF/DHSTB001_o",
                                            "current_BTF/DHSTB002_o",
                                            "current_BTF/QUATB001_o",
                                            "current_BTF/QUATB002_o",
                                            "current_BTF/QUATB003_o",
                                            "current_BTF/QUATB004_o",
                                            "current_BTF/QUATB101_o",
                                            "current_BTF/QUATB102_o"
                                        ]
                                    },
                                    "prediction": {
                                        "type": "streaming",
                                        "model_type": "regression",
                                        "model_data_set_path": "",
                                        "streaming_data_ip": "localhost",
                                        "streaming_data_port": 10000,
                                        "streaming_data_duration": 10
                                    }
                                }

                            ]
                        }


                        var editor = new JSONEditor(container, options, json);
                    </script>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" id="json_submit" class="btn btn-default">Sottometti Task</button>
                    </div>
                </div>


            </form>
        </div>

    </div>
</div>


<div id="footer">
    <div class="container">
        <p class="text-muted credit">Developed by <a href="https://www.linkedin.com/in/giovanninapoleoni?trk=hp-identity-name">Lorenzo Napoleoni</a> at <a href="http://home.infn.it/it/">INFN</a>.</p>
    </div>
</div>

</div>
</body>


</html>