h1, h2, h3, h4, h5, h6 {
     font-family: 'Arvo', Georgia, Times, serif;
 }

p, div {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

/*body {*/
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
    /*background: url(http://subtlepatterns.com/patterns/lightpaperfibers.png) repeat 0 0;*/
/*}*/


.jumbotron {
    margin: 5px 0;
    text-align: center;
}

.content{
    padding: 25px;
}
html,
body {
    height: 100%;
    background: url(http://subtlepatterns.com/patterns/lightpaperfibers.png) repeat 0 0;

    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    /*background-color: #f5f5f5;*/
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}